# MacOS / Windows
*.DS_Store


### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb


### Driver ###
DRV/Linux/*.cmd
DRV/Linux/*.o
DRV/Linux/*.mod
DRV/Linux/*.ko
DRV/Linux/*.mod.c
DRV/Linux/*.order
DRV/Linux/*.symvers
*.pyc

# Windows WDK build output
DRV/Windows/x64/
DRV/Windows/out/
DRV/Windows/submission/
DRV/Windows/TimeCardControlCenter/bin/
DRV/Windows/TimeCardControlCenter/obj/
DRV/Windows/TimeCardDiscipline/bin/
DRV/Windows/TimeCardOscillatord/bin/
DRV/Windows/TimeCardOscillatord/obj/
DRV/Windows/TimeCardTimeProvider/bin/
DRV/Windows/*.log
